* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

@font-face {
  font-family: "Thunder-BlackLC";
  src: url("assets/fonts/Thunder-BlackLC.woff");
}

@font-face {
  font-family: "Larsseit-Light";
  src: url("assets/fonts/Larsseit-Light.woff");
}

@font-face {
  font-family: "Larsseit-Medium";
  src: url("assets/fonts/Larsseit-Medium.woff");
}

@font-face {
  font-family: "Thunder-LightHC";
  src: url("assets/fonts/Thunder-LightHC.woff");
}

header {
  position: relative;
}

.scroll-icon {
  position: absolute;
  width: 25px;
  height: 45px;
  border-radius: 50px;
  position: absolute;
  border: 3px solid #000;
  bottom: 2%;
  left: 50%;
}

.scroll-icon.scroll .wheel {
  position: absolute;
  width: 0.7em;
  height: 0.7em;
  background-color: #000;
  left: 48%;
  top: 15%;
  transform: translate(-50%, 0);
  border-radius: 0.6em;
  animation: wheel 1s ease-in-out infinite;
}

.cursor {
  position: absolute;
  color: #000;
  font-size: 1.5em;
  user-select: none;
  pointer-events: none;
  animation: animate 7.5s linear infinite;
  left: 10%;
  top: 19%;
  z-index: 11;
}


@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cursor span {
  position: absolute;
  text-transform: uppercase;
  display: inline-block;
  top: -100px;
  transform-origin: 0 90px;
}

@keyframes wheel {
  0% {
    transform: translate(-50%, 0);
    opacity: 0;
  }
  20%,
  70% {
    opacity: 1;
  }
  90%, 100% {
    transform: translate(-50%, 150%);
    opacity: 0;
  }
}

.hero-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section p {
  font-size: 1.5em;
  font-family: "Larsseit-Light", sans-serif;
  margin-left: -5.5em;
}

.anim1 span {
  display: block;
}

.anim1 span:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  transform-origin: 100% 0;
}

.title {
  font-family: "Thunder-BlackLC", sans-serif;
  text-transform: uppercase;
  font-size: 4em;
  margin-bottom: 2rem;
}

.waterbg {
  position: absolute;
  width: 36%;
  height: 100vh;
  z-index: -1;
  background: url("assets/img/victoria-shes.jpg");
  background-size: cover;
  mix-blend-mode: overlay;
  opacity: 0.6;
  right: 0;
}

header {
  position: relative;
}

.booking {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 250px;
  background-color: #000;
  border-radius: 50%;
  bottom: 10%;
  left: 10%;
}

.booking a {
  text-decoration: none;
  color: #fff;
}

.booking h3 {
  color: #fff;
  text-transform: uppercase;
  font-family: "Larsseit-Medium", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.booking p {
  color: #fff;
  font-family: "Larsseit-Light", sans-serif;
  margin-bottom: 15px;
}

.booking span {
  color: #fff;
  font-family: "Larsseit-Medium", sans-serif;
}

.sec-02 {
  height: 100vh !important;
}

.section-container {
  position: relative;
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
}

.desc-container h1 {
  margin-top: 1.5em;
  font-family: "Thunder-LightHC", sans-serif;
  font-size: 7rem;
  font-weight: lighter;
  margin-bottom: 2rem;
}

.desc-container p {
  font-size: 1.5rem;
  font-family: "Larsseit-Light", sans-serif;
  margin-bottom: 2em;
}

.desc-container a {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Larsseit-Light", sans-serif;
  color: #000;
}

.word-bg {
  position: absolute;
  overflow-x: hidden;
  font-family: "Garamond", sans-serif;
  margin-top: 20%;
  font-size: 12rem;
  color: #f3f3f3;
}

.img-container img {
  flex: 2;
  height: 700px;
  width: 600px;
  margin-top: 70px;
}

@media (max-width: 800px) {
  .hero-section .title .anim1 {
    position: absolute;
    font-size: 14vw;
    left: 10px;
    top: 20%;
  }

  .waterbg {
    position: absolute;
    width: 60%;
    height: 100vh;
    z-index: -1;
    background: url("assets/img/victoria-shes.jpg");
    background-size: cover;
    mix-blend-mode: overlay;
    opacity: 0.6;
    right: 0;
  }

  .booking {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    background-color: #000;
    border-radius: 50%;
    bottom: 0;
    /* right: 0; */
    left: 34%;
  }
  
  .booking a {
    text-decoration: none;
    color: #fff;
  }
  
  .booking h3 {
    color: #fff;
    text-transform: uppercase;
    font-family: "Larsseit-Medium", sans-serif;
    font-size: 1em;
    margin-bottom: 10px;
  }
  
  .booking p {
    color: #fff;
    font-family: "Larsseit-Light", sans-serif;
    margin-bottom: 15px;
  }
  
  .booking span {
    color: #fff;
    font-family: "Larsseit-Medium", sans-serif;
  }

  .scroll-icon {
    display: none;
  }

  .hero-section p {
    font-size: 4vw;
    position: absolute;
    bottom: 16%;
    left: 30%;
  }

  .anim2 span {
    display: block;
  }

}